export TERM=xterm-256color
export GIT_EDITOR="${EDITOR}"

# alias du='dust'
# alias df='duf'
# alias ps='procs'
# alias dig='dog'
# # alias sed='sd'
# alias awk='gawk'

alias vi='nvim'
alias vim='nvim'
export EDITOR='nvim'
alias cat='ccat'
alias st='export https_proxy=http://172.16.1.135:3128 http_proxy=http://172.16.1.135:3128'
alias unst='unset http_proxy https_proxy'


function clion() {
  open $1 -a Clion
}

function code() {
  code-insiders $1
}


function goland() {
  open $1 -a Goland
}

function webstorm() {
  open $1 -a WebStorm
}

function vm() {
  case $1 in
    "")
    WORKDIR=${PWD/$HOME/\$HOME}
# ssh couldbe@10.0.0.3 -t "cd $WORKDIR; bash --login"
  ssh couldbe@10.0.0.3 -t "cd $WORKDIR; zsh --login"
    ;;
  r | run)
    bash local_build/script/run.sh
    ;;
  b | build)
    rm local_build || true
    name=`basename ${PWD}`
    ln -s ${HOME}/data/sensetime/build/${name} local_build
    ;;
  esac
}
